@model TP1.WebSite.Models.Locations.Succursale.SuccursaleCreateM

@{
    ViewData["Title"] = "Create";
}

<h1>Création d'une succursale</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomSuccursale" class="control-label"></label>
                <input asp-for="NomSuccursale" class="form-control" />
                <span asp-validation-for="NomSuccursale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroCivique_Succcursale" class="control-label"></label>
                <input asp-for="NumeroCivique_Succcursale" class="form-control" />
                <span asp-validation-for="NumeroCivique_Succcursale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rue_Succcursale" class="control-label"></label>
                <input asp-for="Rue_Succcursale" class="form-control" />
                <span asp-validation-for="Rue_Succcursale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ville_Succcursale" class="control-label"></label>
                <input asp-for="Ville_Succcursale" class="form-control" />
                <span asp-validation-for="Ville_Succcursale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodePostal_Succcursale" class="control-label"></label>
                <input asp-for="CodePostal_Succcursale" class="form-control" />
                <span asp-validation-for="CodePostal_Succcursale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
            <div class="mt-2 mb-2">
                @Html.ActionLink("Annuler", "Manage","Succursale", new {}, new { @class = "btn btn-primary" })
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
